<!DOCTYPE html>
<html>
<head>
  <title>Toasts</title>
  <script src="https://use.fontawesome.com/8209dfa968.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>


<%= yield %>
<div class="footer">
  <h1 class='footer-name'><a href='http://johnvanschultz.site' target='_blank'>John Van Schultz</a><h1>
    <ul class='footer-list'>
      <li><a href="https://github.com/jvansch1" target='_blank'>Github</a></li>
      <li><a href="https://www.linkedin.com/in/john-van-schultz-422623a4/" target='_blank'>LinkedIn</a></li>
      <li><a href="https://angel.co/john-van-schultz-1" target='_blank'>AngelList</a></li>
    </ul>
</div>
</body>
</html>
